header {
    background-color: #003366;
    color: white;
    padding: 20px 0;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto 2fr;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    max-width: 100px;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #00509e;
    border-radius: 5px;
}
