:root {
    --primary-color: steelblue;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    max-width: 800px;
}

    nav {
    background-color: steelblue;
    padding: 10px;
        }
    nav a{
            color: white;
            display: block;
            padding: 20px;
        }
    h1 {
        color: steelblue;
    }
    img{
        width: 150px;
        height: auto;
        border: 1px solid steelblue;
        padding: 2px;
        box-shadow: 0 0 30px gray;
    }
    p{
        padding: 10px;
        
    }
    aside {
        width: 20em;
        margin: 1rem;
        border: 1px solid blue;
        padding: 1rem;
        background-color: rgb(0, 200, 255);
        color: black;
        text-align: center;
    }
    aside img {
        width: 200px;
        height: auto;
        object-fit: cover;

    }
    .box {
        margin: 1rem;
        border: 1px solid black;
        padding: 1rem;
        background-color: rgb(0, 200, 255);
        color: azure;
    }
    .box img {
        width: 200px;
        height: auto;
        object-fit: cover;
    }
    aside h2 {
        position: absolute;
        left: 135px;
    }
    main img {
        width: 130px;
        height: auto;
        float: right;
        margin: 14px;
        padding: 0;
        box-shadow: 5px white;
        
    }
    p {
        padding: 0;
    }
    footer {
        margin-top: 2rem;
        border-top: 2px dotted ;
        text-align: center;
    }
    /*class selector*/
    
